/* ----- SITE COLORS ----- */

$site-color-dark: #32322f; // gray (text)
$site-color-medium: #516072; // medium gray
$site-color-light: #bdd4de; // light gray (blue)
$site-color-accent: #f15623; // orange

/* ----- FONT ----- */

$font__main: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;