/* ----- SITE COLORS ----- */

$site-color-dark: #32322f; // gray (text)
$site-color-medium: #516072; // medium gray
$site-color-light: #bdd4de; // light gray (blue)
$site-color-accent: #f15623; // orange

/* ----- ----- */